<!-- home.html -->
<!doctype html>
<html>
<head>
    <title>Higher or Lower</title>
</head>
<body>
    <h1>Higher or Lower</h1>
    <p>Is the population of {{ city1 }} higher or lower than the population of {{ city2 }}?</p>
    <form action="/result" method="post">
        <input type="radio" name="guess" id="higher" value="Higher" required>
        <label for="higher">Higher</label>
        <br>
        <input type="radio" name="guess" id="lower" value="Lower" required>
        <label for="lower">Lower</label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>